/* ESTILOS GENERALES /////////////  */
html,body{
	width:100%;
  height:100%;
  margin:0px;
  padding:0px;
}
body{
	display:flex;
}
nav{
	flex:1;
  background:teal;
}
main{
	flex:4;
  background:white;
}

#nuevo{
	position:absolute;
  bottom:20px;
  right:20px;
  background:teal;
  color:white;
  width:30px;
  height:30px;
  border-radius:40px;
  text-align:center;
  font-size:30px;
  line-height:30px;
  text-decoration:none;
  font-weight:bold;
}
/* ESTILOS DEL MENU /////////////  */
nav{
	display:flex;
  padding:20px;
  flex-direction:column;
  gap:20px;
}
nav button{
	background:white;
  border:none;
  color:black;
  padding:10px;
}
/* ESTILOS DE LA TABLA /////////////  */
main{
	padding:20px;
}
table{
	width:100%;
  border:1px solid teal;
  border-collapse:collapse;
}
table th{
	background:teal;
  color:white;
}
table td,table th{
	padding:5px;
}

/* ESTILOS DEL FORMULARIO /////////////  */

form{
	display:flex;
  width:100%;
  flex-direction:column;
  gap:20px;
}
.controlformulario{
	display:flex;
  width:100%;
  flex-direction:column;
}
form input{
	padding:10px;
}

